In [1]:
# Import necessary libraries: urllib2 is used to query a website, BeautifulSoup is used to parse the data, 
# pandas is used to construct dataframes, and string is used to manage the data
import urllib.request as urllib2
import pandas as pd
import string
from bs4 import BeautifulSoup

In [2]:
#specify the url
wiki = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"

#Query the website and return the html to the variable 'page'
page = urllib2.urlopen(wiki)

In [3]:
#Parse the html in the 'page' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(page)

In [4]:
#Find all tables
all_tables=soup.find_all('table')

# Find the right table
right_table=soup.find('table', class_="wikitable sortable")

In [5]:
# Extract all the punctuations except "+", "-" and "."
punc = string.punctuation[0:10]+string.punctuation[11:12]+string.punctuation[14:-1]

# Construct lists to store the data
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
H=[]
I=[]
J=[]
K=[]
L=[]

for row in right_table.findAll("tr")[1:]: # Since we will define the column names by ourselves, we only extract the data from second row, 
    cells = row.findAll('td')                #  without the column names from the website.
   
    A.append(int(cells[0].text[0:-1]))
    B.append(cells[1].text[0:-1].split("[")[0])
    C.append(cells[2].text[1:-1])
    D.append(float(''.join(c for c in cells[3].text[0:-1] if c not in punc)))
    E.append(float(''.join(c for c in cells[4].text[0:-1] if c not in punc)))
    if cells[5].text[0] == '+':
        F.append(float(cells[5].text[0:-2]))
    elif cells[5].text[0] == 'âˆ’' :
        F.append(-float(cells[5].text[1:-2]))
    else:
        F.append(" ")
    G.append(float(''.join(c for c in cells[6].text.split()[0] if c not in punc)))
    H.append(float(''.join(c for c in cells[7].text.split()[0] if c not in punc)))
    I.append(float(''.join(c for c in cells[8].text.split("/")[0].split()[0] if c not in punc)))
    J.append(float(''.join(c for c in cells[9].text.split("/")[0].split()[0] if c not in punc)))
    K.append(float(''.join(c for c in cells[10].find("span", class_="geo").text if c not in punc).split()[0]))
    L.append(-float(''.join(c for c in cells[10].find("span", class_="geo").text if c not in punc).split()[1]))

In [6]:
df = pd.DataFrame(A, columns=["2018 Rank"])
df["City"] = B
df["State"] = C
df["2018 Estimate"] =D
df["2010 Census"] = E
df["Change (%)"] = F
df["2016 Land Area (sq mi)"]= G
df["2016 Land Area (km2)"] = H
df["2016 Population Density (sq mi)"] =I
df["2016 Population Density (km2)"] = J
df["Location (N)"] = K
df["Location (W)"] =L

df.set_index(["2018 Rank"], inplace=True)

In [7]:
df.head(5)

,City,State,2018 Estimate,2010 Census,Change (%),2016 Land Area (sq mi),2016 Land Area (km2),2016 Population Density (sq mi),2016 Population Density (km2),Location (N),Location (W)
2018 Rank,,,,,,,,,,,
1,New York City,New York,8398748.0,8175133.0,2.74,301.5,780.9,28317.0,10933.0,40.6635,73.9387
2,Los Angeles,California,3990456.0,3792621.0,5.22,468.7,1213.9,8484.0,3276.0,34.0194,118.4108
3,Chicago,Illinois,2705994.0,2695598.0,0.39,227.3,588.7,11900.0,4600.0,41.8376,87.6818
4,Houston,Texas,2325502.0,2100263.0,10.72,637.5,1651.1,3613.0,1395.0,29.7866,95.3909
5,Phoenix,Arizona,1660272.0,1445632.0,14.85,517.6,1340.6,3120.0,1200.0,33.5722,112.0901

In [8]:
df.tail(5)

,City,State,2018 Estimate,2010 Census,Change (%),2016 Land Area (sq mi),2016 Land Area (km2),2016 Population Density (sq mi),2016 Population Density (km2),Location (N),Location (W)
2018 Rank,,,,,,,,,,,
310,Edison,New Jersey,100693.0,99967.0,0.73,30.1,78.0,3389.0,1309.0,40.5040,74.3494
311,Woodbridge,New Jersey,100450.0,99585.0,0.87,23.3,60.3,4351.0,1680.0,40.5607,74.2927
312,San Angelo,Texas,100215.0,93200.0,7.53,59.9,155.1,1681.0,649.0,31.4411,100.4505
313,Kenosha,Wisconsin,100164.0,99218.0,0.95,28.0,72.5,3577.0,1381.0,42.5822,87.8456
314,Vacaville,California,100154.0,92428.0,8.36,29.0,75.1,3449.0,1332.0,38.3539,121.9728

In [9]:
df.to_csv("Data of Cities.csv")